* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #333;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem;
}

body::before {
    /*
        hack a fixed background image that works on desktop browsers and in
        mobile safari (where fixed backgrounds on the body element are
        apparently broken), based on:
        - https://jsfiddle.net/saeokn81/
        - https://www.reddit.com/r/csshelp/comments/1cefzv4/trying_to_get_a_fixed_background_on_mobile/
    */
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(santa.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: -1;
}

main {
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(100, 148, 148, 0.7) 0.1em 0.1em 1em;
    border: 0.1rem solid rgba(240, 23, 60, 1);
    border-radius: 0.4rem;
    max-width: 40em;
}

h1 {
    margin: -1rem -1rem 1rem -1rem;
    padding: 1rem 0.5rem;
    text-align: center;
    color: #fff;
    background-color: rgba(240, 23, 60, 1);
    text-shadow: rgba(0, 0, 0, 0.3) 0.1em 0.1em 0.2em;
}

form {
    display: block;
}

label {
    font-weight: bold;
    background-color: rgba(112, 206, 195, 0.25);
}

form input,
form button {
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
}

form input {
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

form button {
    font-weight: bold;
    padding: 1rem 1rem;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.3) 0.1em 0.1em 0.2em;
    background-color: rgba(112, 206, 195, 1);
    border-radius: 0.2rem;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-left-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-right-color: rgba(0, 0, 0, 0.5);
}

p {
    line-height: 1.4;
    text-shadow: rgba(255, 255, 255, 1) 0 0 20px;
}

#error {
    display: none;
    color: rgba(240, 23, 60, 1);
    font-weight: bold;
    font-size: 0.9rem;
    margin: 1rem 1rem 0 1rem;
}

figure {
    margin: 0;
    padding: 0 1rem;
}

figure div {
    border: 0.5rem solid rgba(240, 23, 60, 1);
    border-radius: 0.3rem;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
    border: 0.15rem solid #fff;
    box-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 1em;
    background-color: #eee;
}

.full-width {
    /*
        Thanks to these references:
        https://gomakethings.com/how-to-break-an-image-out-of-its-parent-container-with-css/
        https://x.com/una/status/951519740840873984?s=21
    */
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

p.signature img {
    display: block;
    max-width: 60%;
    height: auto;
    /* border: 1px solid red; */
    margin-top: -3.5rem;
}

.coal img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

@media (orientation: landscape) {
    body::before {
        background-size: 60%;
    }
}

@media (orientation: portrait) {
    body::before {
        background-size: 100%;
    }

    figure {
        padding-left: 0;
        padding-right: 0;
    }

    figure div,
    figure img {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    p.signature img {
        margin-top: -3rem;
        max-width: 100%;
    }
}

p.bottom-padding {
    margin: 0;
}
